html {
  background-color: black;
  margin: 25px;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: 'Cousine', monospace;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  background-color: black;
}

.signupPage, .loginPage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input {
  color: black;
}

.loginForm, .form, .signupForm {
  margin: 3% auto;
  width: 10em;
  text-align: center;
  position: relative;
  -webkit-animation: moveDown .3s;
  -moz-animation: moveDown .3s;
  animation: moveDown .3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.button {

  /*basic styles*/
  margin-top: 8px;
  width: 70px;
  height: 42px;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 15px;
  line-height: 50px;


  /*gradient styles*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f2f2f), color-stop(.5, #1e1f1f), color-stop(.51, #0c0c0c), to(#000));
  background: -moz-linear-gradient(top, #2f2f2f, #1e1f1f 50%, #0c0c0c 51%, #000);  

  /*border styles*/
  border-top: solid 2px #555;
  border-bottom: solid 2px #111;

  -moz-box-shadow:inset 0 0 15px #000000;
  -webkit-box-shadow:inset 0 0 15px #000000;
  box-shadow:inset 0 0 15px #000000;
}


.button p {
  font-size: 30px;
  line-height: 70px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-shadow: 0px 0px 3px #888;

}

a {
  text-decoration: none;
  color: fff;
}

.button:hover {
  -moz-box-shadow:inset 0 0 50px #000000;
  -webkit-box-shadow:inset 0 0 50px #000000;
  box-shadow:inset 0 0 50px #000000;
}

.button p:hover {
  text-shadow: 0px 0px 3px #444;
}

.gallery {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 70px; */
}

.galleryHolder {
  margin: auto;
  width: 720px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  
}

Image {
  margin: 5px;
}